@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.sec-preview-product {
  background-color: #1aa37a;
  padding: 40px 0;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height, or 150% */

  letter-spacing: 0.065em;
}

.description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  letter-spacing: 0.065em;
}

.btn-white {
  padding: 14px 32px;
  background: #ffffff;
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.065em;

  color: #1aa37a;
}

.card-preview-product {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px 20px 40px 20px;
}

.flex-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
}

.text-preview-product {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  /* identical to box height, or 125% */

  letter-spacing: 0.065em;
  margin-top: 24px;
}

.btn-icon {
  background: #ffffff;
  border-radius: 8px;
  padding: 8px;
}

.flex-button-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 28px;
  margin-top: 48px;
}
